MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=securechat
MYSQL_PASS=change_me
MYSQL_DB=securechat
CA_CERT_PATH=certs/ca.crt
CA_KEY_PATH=certs/ca.key
SERVER_CERT_PATH=certs/server.crt
SERVER_KEY_PATH=certs/server.key
CLIENT_CERT_PATH=certs/client.crt
CLIENT_KEY_PATH=certs/client.key
